.column {
  display: inline-block;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
.chip {
  width: 90px;
  background: red;
  border-radius: 50%;
  height: 90px;
  margin: auto;
}
.redChip {
  width: 90px;
  background: red;
  border-radius: 50%;
  height: 90px;
  margin: auto;
}
.blackChip {
  width: 90px;
  background: black;
  border-radius: 50%;
  height: 90px;
  margin: auto;
}
